body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*navegacion*/

header{
    /*widht-ancho , height-alto*/
    width: 100%;
    height: 60px;
}
header nav {
    display: flex;
    /*justificar hacia la derecha de forma proporcional*/
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    /*Eliminar puntitos*/
    list-style:none;
    justify-content: center;
    align-items: center;
} 
a{
    text-decoration:none;
    cursor:pointer
}
nav .nav-right-section a{
    margin-right: 25px;
    color:rgb(21, 21, 21)
}
/*Icono de Menu*/
nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;

} 
/*+IMAGEN ESTYLO+++*/
nav .nav-right-section img{
    border-radius:25px;
    margin-left: 30px;
    width: 35px;
    height: 35px;
}
/*   DEL LOGO EN ADELANTE_MAIN  */
main{
    margin-top: 0px;
    margin-left:10px;
    background-color:rgb(255,255,255);
    text-align: center;
}
main .main-logo{
    width: 550px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 30px;

}
  /*LOGO DE GOOGLE*/
main .main-logo img{
    width: 450px;
    height: 100 px;
    margin-left: 100px;
}
/*SECCTION INPUT*/
main .main-input{
    width: 550px;
    margin:0 auto;
    margin-bottom: 35px;
}
.main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    border: none;
    width: 550px;
    height: 40px;
    outline: none;
}

main .main-input-container:hover{
    box-shadow:0 1px 6px 0px #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon{
    background-image: url("https://seekicon.com/free-icon-download/search_20.svg");
    /*Evitar que se repita el icono*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
    padding-left: 6%;
}
main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    background-repeat: no-repeat ;
    background-position: center;
    background-size:contain;
    width:17px;
    height: 17px;
    cursor: pointer;
    padding-left: 1%;

}   
main .main-input .cam-icon{
    background-image: url("https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding-right: 7%;
}
main .main-buttons{
    width: 550px;
    margin: 0 auto
}
main .main-buttons div{
    display: inline-block;
}

main .main-buttons botton{
    border: 0px;
    height: 36px;
    /*Fondo de botones*/
    background-color: #f8f9fa;
    font-size: 14px;
    /*color de letras antes del hover*/
    color: #3c4043;
    /*redondeando botones*/
    border-radius: 40px;
    /*MArgen interno*/
    padding:0 15px;
    /*margen entre botones*/
    margin-right: 15px;
      border: 100px;px solid #f8f9fa;
} 
/*Efecto hover (similar a input)*/ 
main .main-buttons botton:hover{
    box-shadow: 0 1px 1px rgba(0.0.0,.1);
    background-color: #f8f9fa;
    /*Cambia borde al hacer hover*/
    border:  1px solid #dadce0;
    /*Cambia sutilmente el color de letras*/
    color:#202124;
    cursor:pointer;
}
/*FOTTER*/

footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    /*Que la pocisión sea congruente con el elemento padre*/
    position: absolute;
    font-size: 13px;
    border-top:1px solid #eee6e6;
    /*cuadricula invisible*/
    display: grid;
    /*que el footer se divida en 2 columnas*/
    grid-template-columns: 1fr 1fr;
    align-items: center;
    bottom: 0;
}
footer ul{
    margin:10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}
footer .footer-left{
    justify-self:right;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    color:#70757a;
    margin: 10px;
}